/* Font Imports */
@font-face {
  font-family: 'Alef-Bold';
  src: url('Alef-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Alef-Regular';
  src: url('Alef-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('NotoSansJP-VariableFont_wght.ttf') format('opentype');
}

ruby rt {
  max-width: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* General Styles */
#back {
  background-color: #ffebcd;
  border: 2px solid #ff7f50;
  padding: 20px;
  border-radius: 15px;
}

/* Front Section */
#front, #word_with_kana {
  padding: 20px;
  background-color: #B2D8B2;
  border-radius: 15px;
  border: 2px solid #3cb371;
  font-family: 'Noto Sans JP';
}

.sentence-style {
  text-align: center;
  font-size: 36px;
  font-family: 'Noto Sans JP'; /* Apply Noto Sans JP */
  color: #4b0082;
}

/* Translation Section */
#translation {
  font-size: 24px;
  color: #8a2be2;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Alef-Bold'; /* Apply Alef-Bold */
}

/* Words and Examples */
.word-section {
  font-size: 24px;
  color: #009688;
  margin-bottom: 10px;
  font-family: 'Noto Sans JP'; /* Apply Noto Sans JP */
}

#example_with_furigana, #example_translation {
  text-align: left;
  padding-left: 10px;
  font-size: px;
  color: #20b2aa;
}

#pronunciation {
  font-size: 20px;
  color: #da70d6;
}

/* Font Configuration */
.word-style, #translation, #example_with_furigana, #example_translation, #pronunciation {
  font-family: 'Noto Sans JP', 'Comic Sans MS', cursive, sans-serif;
}

/* Spacing */
.spacer {
  height: 20px;
}
